@font-face {
  font-family: 'CourierPrimeCode';
  src: local('CourierPrimeCode'), url(./fonts/CourierPrimeCode.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "CourierPrimeCode", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

